<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <LevelMatchFilter match="info" onMatch="deny" onMismatch="accept"/>
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%-5level] (%logger{36}) %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="data/logs/latest.log"
                                 filePattern="data/logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%t][%logger{36}][%-5level] %msg%n"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>